!!!5
html(lang="en")
    head
        title= title
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    body
        #account_manager
            #sign_in sign in
            #sign_up sign up
        #top
            #center
                a(href="/")
                    img(src='/images/logo.png')
        #content
            block content
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/main.js')