extends layout

block content
    h1 Game lobby #{name}
    p Feel free to play with others
    #lobby
        ul#nav
            li #
            li Name
            li Host
            li Type
            li Free
            li Password
        #filter
        #rooms