* {
    margin: 0px;
    padding: 0px;
}

a { color: #FFF; }
input { border: none; }

:focus {
    outline-color: transparent;
    outline-style: none;
}

html, body {
    background: url(../images/noise100x100.png);
    font: 14px Helvetica, Arial, sans-serif;
    color: #FFF;
}

#top {
    background: #ac222f; /* red: ac222f; blue: ac222f; */
    height: 70px;
}
#top #center {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

#content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 900px;
}

#account_manager {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    padding: 10px;
    width: 900px;
    position: relative;
}

#account_manager #sign_in {
    position: absolute;
    right: 65px;
}

#account_manager #sign_in:hover { cursor: pointer; }
#account_manager #sign_up { float: right; }
#account_manager #sign_up:hover { cursor: pointer; }

#games {
    margin-top: 20px;
}

#games img {
	border: 4px solid #ac222f;
	border-radius: 4px;
	margin-right: 10px;
}

/* Lobby */
#lobby {
    position: relative;
    margin-top: 20px;
    width: 900px;
    height: 502px;
}

#nav {
    position: absolute;
    padding-bottom: 10px;
    padding-top: 10px;
    background: #444;
    list-style: none;
    overflow: auto;
    width: 650px;
    left: 0px;
}

#nav li { float: left; }

#filter {
    position: absolute;
    padding: 10px 14px 0px 14px;
    background: #777;
    height: 100%;
    right: 0px;
}

#rooms {
    position: absolute;
    width: 650px;
    height: 474px;
    left: 0px;
    top: 38px;
}

.room {
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 2px 0px;
    background: #777;
    overflow: auto;
    width: 650px;
}

.room li {
    list-style: none;
    float: left;
}

#id {
    margin-left: 10px;
    width: 20px;
}

#name { width: 300px; }
#host { width: 140px; }
#type { width: 50px; }
#free { width: 50px; }

.input_bg {
    background: url(../images/input01.png) no-repeat;
    margin: 10px 0px 10px 0px;
    width: 220px;
    height: 36px;
}

.input_bg input {
    margin: 8px 0px 0px 8px;
    font-size: 16px;
    color: #BBB;
    border: none;
}

#create_game {
    background: url(../images/create00.png) no-repeat;
    margin: 0px 0px 10px 0px;
    width: 108px;
    height: 35px;
    cursor: pointer;
}

#create_game:hover { background: url(../images/create01.png); }
#game_type { margin: 10px 0px 10px 0px; }
#about {
    height: 500px;
}

/* SCROLLERS */
.scroll-me {
    overflow-y: auto;
    overflow-x: hidden; 
}

.scroll-me::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.scroll-me::-webkit-scrollbar-button:decrement:start {
    background: url(../images/scr_up.png) no-repeat;
}

.scroll-me::-webkit-scrollbar-button:increment:start {
    background: url(../images/scr_down.png) no-repeat;
}

.scroll-me::-webkit-scrollbar-button:decrement:end {
    background: url(../images/scr_up.png) no-repeat;
}

.scroll-me::-webkit-scrollbar-button:increment:end {
    background: url(../images/scr_down.png) no-repeat;
}

#messages {
    overflow-y: auto;
    overflow-x: hidden; 
}

#messages::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#messages::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #666;
    border-radius: 3px;
}

#platform {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    width: 900px;
    height: 600px;
    border-radius: 3px;
}

#platform #chat {
    position: absolute;
    overflow: auto;
    bottom: 10px;
    left: 10px;
}

#chat { color: #777; }
#chat #input {
    width: 860px;
    padding: 10px;
    background: rgba(0, 0, 0, .1);
    color: #777;
}

#chat #messages {
    background: rgba(0, 0, 0, .1);
    margin-bottom: 2px;
    max-height: 200px;
    width: 300px;
    overflow-y: auto;
}